.container{
    margin: 0 auto;
    width: 576px;
    height: 1024px;
    background-color: lightgreen;
    border: 1px solid rgb(0, 188, 0);
}

.backbutton{
    position: relative;
    left: 15px;
    top: 15px;
    font-size: 20px;
}

.sadrzaj{
    width: 575px;
    height: 822px;
    position: relative;
    top: 85px;
    background-color: red;
}
